<div class="card">
  <img
    *ngIf="product.imageUrl"
    [src]="product.imageUrl"
    class="card-img-top"
    alt="{{ product.title }}"
  />
  <div class="card-body">
    <h5 class="card-title">{{ product.title }}</h5>
    <p class="card-text">{{ product.price | currency: "EUR" }}</p>
  </div>
  <div *ngIf="showActions && shoppingCart" class="card-footer">
    <button
      *ngIf="shoppingCart.getQuantity(product) === 0; else updateQuantity"
      (click)="addToCart()"
      class="btn btn-secondary btn-block"
    >
      Add to Cart
    </button>
    <ng-template #updateQuantity>
      <app-product-quantity
        [product]="product"
        [shopping-cart]="shoppingCart"
      ></app-product-quantity>
      <!-- <div class="row no-gutters">
        <div class="col-2">
          <button
            (click)="removeFromCart()"
            class="btn btn-secondary btn-block"
          >
            -
          </button>
        </div>
        <div class="col text-center">{{ getQuantity() }} in cart</div>
        <div class="col-2">
          <button (click)="addToCart()" class="btn btn-secondary btn-block">
            +
          </button>
        </div>
      </div> -->
    </ng-template>
  </div>
</div>
